* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

#hero {
  width: 100%;
  height: 1000px;
  background-image: url(lb-family-new-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#bar {
  position: absolute;
  max-width: 917px;
  font-size: 40px;
  font-weight: 900;
  padding: 20px 50px;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-90px);
}

.text-left,
ul,
li {
  text-align: left;
}

/* h1 {
  font-size: 100px;
}

h2 {
  font-size: 48px;
} */

.bg-blue {
  background-color: #014a97;
}

.red {
  color: #d10202;
}

.image-hero {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-headshot {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  #hero {
    background: #014a97;
    padding-bottom: 80px;
    padding-top: 20px;
    height: auto;
  }

  #bar {
    font-size: 24px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
